.navbar-color {
    background-color: #171717;
}

.container-color {
    background-color: #b5ab9f;
}

.bg-color {
    background-image: url('/images/background.png');
}

.logo-nrm-style{
    font-family: Brush Script MT; 
}  

.logo-style {
    font-family: Brush Script MT; 
    font-size: xx-large;
}

.logo-big-style {
    font-family: Brush Script MT; 
    font-size: 60px;
}

.header-section-gradient {
    background: linear-gradient(to bottom right, #6916c0 0%, #f7f908 100%);
    border-style: hidden;
}

.card-header-purple {
    color: #f7f908;
    background-color: #6916c0; 
}

.btn-gradient {
    background: linear-gradient(to bottom right, #6916c0 10%, #f7f908 100%);
    border-style: hidden;
    color: white;
}

.btn-purple {
    color: #f7f908;
    background-color: #6916c0;
}

.btn-yellow {
    color: #6916c0;
    background-color: #f7f908;
}