.navbar-color {
    background-color: black;
}

.container-color {
    background-color: #b5ab9f;
}

.bg-color {
    background-color: #171717;
}

.logo-style {
    font-family: Brush Script MT; 
    font-size: xx-large;
}

.logo-big-style {
    font-family: Brush Script MT; 
    font-size: 60px;
}