<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(titolo='Inserimento artista - LiveFinder')"></head>
<body class="bg-color">
	<div th:replace="base :: navbar"></div>


	<div class="container text-center pb-5 bg-white shadow">
		<form th:action = "@{/admin/artista}" method="post" th:object="${artista}">
			<div th:if="${artista.id==null}" class="pt-4">
				<div th:replace="base :: page-title(titolo='Nuovo artista', frase='Riempi i campi per aggiungere un artista')"></div>
			</div>
			<div th:unless="${artista.id==null}" class="pt-4">
				<div th:replace="base :: page-title(titolo='Modifica artista', frase=|Qui puoi modificare i dettagli dell'artista|)"></div>
			</div>
			<div class="container">
				<div class="col-auto">
						<div class="row g-3">
							<div class="form-group col-md-6">
								<label for="Nome">Nome:</label>
								<input class="form-control" placeholder="Bad Wolfes" type="text" th:field="*{nome}" th:classappend="${#fields.hasErrors('nome') ? 'is-invalid' : ' '}"/>
								<span class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
							</div>
							<div class="form-group col-md-6">
								<label for="Genere">Genere:</label>
								<input class="form-control" placeholder="Rock" type="text" th:field="*{genere}" th:classappend="${#fields.hasErrors('genere') ? 'is-invalid' : ' '}"/>
								<span class="invalid-feedback" th:if="${#fields.hasErrors('genere')}" th:errors="*{genere}"></span>
							</div>
							<div class="form-group col-md-6">
								<label for="AnnoFormazione">Anno di formazione:</label>
								<input class="form-control" placeholder="2010" type="text" th:field="*{annoFormazione}" th:classappend="${#fields.hasErrors('annoFormazione') ? 'is-invalid' : ' '}"/>
								<span class="invalid-feedback" th:if="${#fields.hasErrors('annoFormazione')}" th:errors="*{annoFormazione}"></span>
							</div>
							<div class="form-group col-md-6">
								<label for="isGroup">Solista o gruppo?</label>
								<select class="form-select" th:field="*{isGroup}">
									<option value="true" disabled>Seleziona..</option>
									<option th:value="0">Solista</option>
									<option th:value="1">Gruppo</option>
								</select>
							</div>
						</div>
						<br>
						<!--Field nascosco così durante l'aggiornamento non perdo l'id-->
						<input hidden type="text" th:field="*{id}"/>

						<div><button class="btn btn-purple w-50 shadow" type="submit">Conferma</button></div>
						<div th:if="${#fields.hasGlobalErrors()}">
							<br>
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								<h4 class="alert-heading">Arcipigna!</h4>
								<div th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</div>
							</div>
						</div>
				</div>
			</div>
		</form>
	</div>		
</body>
</html>