<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="base :: head(titolo='Cancella luogo - LiveFinder')"></head>
	<body>
		<div th:replace="base :: navbar"></div>
		
		<h4>Luogo da cancellare:</h4>
		<div>
			<span th:text="${luogo.nome}">Ippodromo delle capannelle</span>
			<span th:text="${luogo.indirizzo}">Via Appia Nuova</span>
			<span th:text="${luogo.cap}">00178</span>
		</div>
		<div><a href = "luogo.html" th:href="@{'/deleteLuogo' + '/' +${luogo.id}}"
					th:text = "CONFERMA">CONFERMA</a>
		</div>
	
	</body>
</html>