<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="base :: head(titolo='Cancella artista - LiveFinder')"></head>
	<body>
		<div th:replace="base :: navbar"></div>
		
		<h4>Artista da cancellare:</h4>
		<div>
			<span th:text="${artista.nome}">Maneskin</span>
			<span th:text="${artista.genere}">Rock</span>
			<span th:text="${artista.annoFormazione}">2016</span>
		</div>
		<div><a href = "artista.html" th:href="@{'/deleteArtista' + '/' +${artista.id}}"
					th:text = "CONFERMA">CONFERMA</a>
		</div>
		
	<!-- Bootstrap Bundle with Popper -->
	<script th:replace="base.html :: bootstrapJS" /> 
	
	</body>
</html>