<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(titolo='Inserimento luogo - LiveFinder')"></head>
<body class="bg-color">
	<div th:replace="base :: navbar"></div>

	<div class="container bg-white pb-5 shadow">
		<form th:action = "@{/admin/luogo}" method="post">
			<div class="pt-3">
				<div th:if="${luogo.id==null}">
					<div th:replace="base :: page-title(titolo='Nuovo luogo', frase='Riempi i campi per aggiungere un luogo')"></div>
				</div>
				<div th:unless="${luogo.id==null}">
					<div th:replace="base :: page-title(titolo='Modifica luogo', frase=|Qui puoi modificare i dettagli del luogo|)"></div>
				</div>
			</div>
			<div class="row g-3 p-3">
				<div class="form-group col-md-12">
					<label for="Nome">Nome:</label>
					<input class="form-control" placeholder="Ippodromo delle capannelle" type="text" th:field="${luogo.nome}" th:classappend="${#fields.hasErrors('luogo.nome') ? 'is-invalid' : ' '}"/>
					<span class="invalid-feedback" th:if="${#fields.hasErrors('luogo.nome')}" th:errors="${luogo.nome}"></span>
				</div>
				<div class="form-group col-md-6">
					<label for="Via">Via:</label>
					<input class="form-control" placeholder="Via Appia Nuova" type="text" th:field="${indirizzo.via}" th:classappend="${#fields.hasErrors('indirizzo.via') ? 'is-invalid' : ' '}"/>
					<span class="invalid-feedback" th:if="${#fields.hasErrors('indirizzo.via')}" th:errors="${indirizzo.via}"></span>
				</div>
				<div class="form-group col-md-3">
					<label for="numCivico">Numero Civico:</label>
					<input class="form-control" placeholder="79a" type="text" th:field="${indirizzo.numCivico}" th:classappend="${#fields.hasErrors('indirizzo.numCivico') ? 'is-invalid' : ' '}"/>
					<span class="invalid-feedback" th:if="${#fields.hasErrors('indirizzo.numCivico')}" th:errors="${indirizzo.numCivico}"></span>
				</div>
				<div class="form-group col-md-3">
					<label for="cap">CAP:</label>
					<input class="form-control" placeholder="00178" type="text" th:field="${indirizzo.cap}" th:classappend="${#fields.hasErrors('indirizzo.cap') ? 'is-invalid' : ' '}"/>
					<span class="invalid-feedback" th:if="${#fields.hasErrors('indirizzo.cap')}" th:errors="${indirizzo.cap}"></span>
				</div>
				<div class="form-group col-md-6">
					<label for="citta">Seleziona una citta...</label>
					<div class="list-group mx-0 w-auto overflow-auto">
						<div class="list-group mx-0 w-auto overflow-auto" style="max-height: 400px;">
							<label class="list-group-item d-flex gap-2" th:each="citta : ${listaCitta}" th:attr="style=${#fields.hasErrors('luogo.citta') ? 'border-color: #dc3545;' : ' '}">
								<input class="form-check-input flex-shrink-0" type="radio" th:value="${citta.id}" th:field="${luogo.citta}" 
									th:classappend="${#fields.hasErrors('luogo.citta') ? 'is-invalid' : ''}">
							<span>
								<div th:text="${citta.nome}"></div>
								<small class="d-block text-muted" th:text="${citta.regione}"></small>
							</span>
							</label>
						</div>
					</div>
					<div class="invalid-feedback" style="display: block;" th:if="${#fields.hasErrors('luogo.citta')}" th:errors="${luogo.citta}"></div>
				</div>

				<!--Field nascosco così durante l'aggiornamento non perdo l'id-->
				<input hidden type="text" th:field="${luogo.id}"/>
				<input hidden type="text" th:field="${indirizzo.id}"/>
				<div class="text-center pt-3">
					<button class="btn btn-purple w-50 shadow" type="submit">Conferma</button>
				</div>		
			</div>
			<!--
			<div th:if="${#fields.hasGlobalErrors()}">
				<br>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<h4 class="alert-heading">Arcipigna!</h4>
					<div th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</div>
				</div>
			</div>
			-->
		</form>
	</div>
			
	
</body>
</html>