<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base.html :: head(titolo=#{adminRegister.title})">
</head>
<body class="bg-color">
	<!-- START Navbar -->
	<nav th:replace="base.html :: navbar"></nav>
	<!-- END Navbar -->

	<div class="container bg-white text-center pb-3 shadow">
		<div class="mb-4 p-3">
		    <h1 th:text="#{adminRegister.registration}">Registrazione Admin</h1>
		</div>
		<form th:action="@{/adminRegister}" method="POST">
			<div class="input-group mb-4">
				<span th:text="#{register.nameSurname}" class="input-group-text">First and last name</span>
				<input th:field="${user.nome}" type="text" aria-label="First name" th:placeholder="#{register.firstName}" 
			  		class="form-control" autofocus />
				<input th:field="${user.cognome}" type="text" aria-label="Last name" th:placeholder="#{register.lastName}" 
			  		class="form-control"/>
	      	</div>
		    
		    <!-- Email input -->
		    <div class="form-floating mb-4">
		    	<input th:field="${credentials.username}" type="email" id="signupEmail" class="form-control" 
		          th:placeholder="#{register.email}" required/>
		     	<label th:text="#{register.email}" for="signupEmail">Indirizzo Email</label>
		    </div>
		
		    <!-- Password input -->
		    <div class="form-floating mb-4">
		    	<input th:field="${credentials.password}" type="password" id="signupPassword" class="form-control" 
		          th:placeholder="#{register.password}" required />
		    	<label th:text="#{register.password}" for="signupPassword">Password</label>
		    </div>
		
		    <!-- Confirm password input -->
		    <div class="form-floating mb-4">
		    	<input th:field="${credentials.confirmPassword}" type="password" id="signupConfirmPassword" class="form-control" 
		    		th:placeholder="#{register.confirmPassword}" required />
		   		<label th:text="#{register.confirmPassword}" for="signupConfirmPassword">Conferma password</label>
		    </div>
		    
		    <!-- Magic word input -->
		    <div class="form-floating mb-4">
		    	<input th:field="${credentials.magicWord}" type="text" id="magicWord" class="form-control" 
		          th:placeholder="#{adminRegister.magicWord}" required/>
		     	<label th:text="#{adminRegister.magicWord}" for="magicWord">Magic word</label>
		    </div>
			  
			<!-- Submit button -->
		    <button th:text="#{register.register}" type="submit" class="btn btn-gradient shadow btn-block mb-4">Registrati</button>
      	</form>      	              
  	</div>
  
</body>
</html>
