<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="base :: head(titolo='Artisti - LiveFinder')"></head>
	<body class="bg-color">
		<div th:replace="base :: navbar"></div>

        <div class="container py-4 bg-light">
            <div th:replace="base :: page-title(titolo=${#strings.toUpperCase(lettera)}, frase='Ecco tutti gli artisti che iniziano per '+${#strings.toUpperCase(lettera)})"></div>
            
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                <div class="col" th:each="artista, itemStat : ${artisti}">
                    <div class="card shadow" style="width: 15rem;">
                        <div class="card-header card-header-purple" th:data-url="@{'/users/artista/'+${artista.id}}" 
                        onclick="window.location = this.getAttribute('data-url')">
                            <p th:text="${artista.nome}"></p>
                        </div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${artista.genere}"></h6>
                            <h6 class="card-subtitle mb-2" th:text="${artista.isGroup ? 'Gruppo' : 'Solista'}"></h6>
                            <span th:unless="${minPrezzi[__${itemStat.index}__]} == null" class="title-purple" th:text="'Biglietti da '+${minPrezzi[__${itemStat.index}__]}+'€'"></span>
                            <small class="text-muted" th:if="${minPrezzi[__${itemStat.index}__] == null}">Biglietti non disponibili</small>
                        </div>
                        <div class="card-footer border-top-0 bg-light">
                            <button type="button" class="btn btn-sm btn-purple shadow-sm" th:data-url="'/users/artista/'+${artista.id}" 
                                onclick="window.location = this.getAttribute('data-url')">Vedi</button>
                            <button sec:authorize="hasAuthority('ADMIN')" type="button" class="btn btn-sm shadow-sm btn-yellow" 
                                th:data-url="@{'/admin/artistaForm/'+${artista.id}}" onclick="window.location = this.getAttribute('data-url')">Modifica</button>
                            <button sec:authorize="hasAuthority('ADMIN')" type="button" class="btn btn-sm shadow-sm btn-yellow" 
                                th:data-url="@{'/admin/confermaDeleteArtista/'+${artista.id}}" onclick="window.location = this.getAttribute('data-url')">Elimina</button>
                        </div>
                    </div>
                </div>
            </div>
            <div >
                <!--<a class="link-dark" th:href="'/users/artista/'+${artista.id}">
                    <p th:text="${artista.nome}"></p>
                </a>-->
            </div>
        </div>
    </body>
</html>