<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="base :: head(titolo='Dettagli artista - LiveFinder')"></head>
	<body>
		<div th:replace="base :: navbar"></div>
		
		<div>
		<h4>Dettagli artista</h4>
		<span th:text="${artista.nome}">Maneskin</span>
		<span th:text="${artista.genere}">Rock</span>
		<span th:text="${artista.annoFormazione}">2016</span>
		</div>
		<footer><a href="/">Home</a></footer>
		
	<!-- Bootstrap Bundle with Popper -->
	<script th:replace="base.html :: bootstrapJS" /> 
	</body>
</html>