<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(titolo)">
        <!-- Required meta tags -->
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:text="${titolo}">Testo di prova</title>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"/>

        <!-- Personal css-->
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <div th:fragment="navbar">
            <nav class="navbar navbar-dark navbar-color navbar-expand-lg p-0">
                <div class="container-fluid">

                    <a th:if="${#authentication.getPrincipal().getClass() == 
						T(org.springframework.security.core.userdetails.User)}" 
						class="navbar-brand logo-style p-0" th:href="@{/default}">LiveFinder</a>
					<a th:unless="${#authentication.getPrincipal().getClass() == 
						T(org.springframework.security.core.userdetails.User)}"
						class="navbar-brand logo-style p-0" th:href="@{/oauthDefault}">LiveFinder</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a th:if="${#authentication.getPrincipal().getClass() == 
					            			T(org.springframework.security.core.userdetails.User)}"
		                			class="nav-link active" aria-current="page" th:href="@{/default}">HOME</a>
		                		<a th:unless="${#authentication.getPrincipal().getClass() == 
					            			T(org.springframework.security.core.userdetails.User)}"
		                			class="nav-link active" aria-current="page" th:href="@{/oauthDefault}">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link acrive" aria-current="page" th:href="@{/users/artisti}">ARTISTI</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link acrive" aria-current="page" th:href="@{/users/listaTour}">TOUR</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link acrive" aria-current="page" th:href="@{/users/concerti}">CONCERTI</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link acrive" aria-current="page" th:href="@{/users/luoghi}">LUOGHI</a>
                            </li>
                        </ul>
                        
                        <!-- Se l'utente non è loggato, mostra i pulsanti di login e registrazione -->
                        <div class="text-end" sec:authorize="isAnonymous()">
                            <button type="button" class="btn btn-outline-light me-2" onclick='window.location.href="/login"'
                            	th:text="#{index.login}">Login</button>
                            <button type="button" class="btn btn-warning" onclick='window.location.href="/register"'
                            	th:text="#{index.register}">Sign up</button>
                        </div>
                        
                        <!-- Dropdown operazioni ADMIN -->
                        <div class="text-end me-4" sec:authorize="hasAuthority('ADMIN')">
                        	<a class="d-block text-decoration-none dropdown-toggle text-white" 
		            			id="dropdownAdmin"  aria-expanded="true" data-bs-toggle="dropdown">
		            			<i class="bi bi-plus"></i>	
		            		</a>
		            		
		            		<ul class="dropdown-menu text-small" aria-labelledby="dropdownUser" 
		            			style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 34px);"
                                data-popper-placement="bottom-end">
                                <li>
                                	<a th:href="@{/admin/artistaForm}" class="dropdown-item"
                                		aria-expanded="true">Aggiungi artista</a>
								</li>
								
								<li>	
									<a th:href="@{/admin/tourForm}" class="dropdown-item"
										aria-expanded="true">Aggiungi un tour</a>
						      	</li>
						      	
						      	<li>	
						      		<a th:href="@{/admin/concertoForm}" class="dropdown-item"
						      			aria-expanded="true">Aggiungi un concerto</a>
						      	</li>
						      	
						      	<li>	
						      		<a th:href="@{/admin/luogoForm}" class="dropdown-item"
						      			aria-expanded="true">Aggiungi un luogo</a>									
                                </li>
                            </ul>
                        </div>
                        
                        <!-- Dropdown profilo utente -->
                        <div class="dropdown text-end" sec:authorize="isAuthenticated()">        	
			            	<a class="d-block text-decoration-none dropdown-toggle text-white" 
		            			id="dropdownUser"  aria-expanded="true" data-bs-toggle="dropdown">
		            			<i class="bi bi-person"></i>	
		            		</a>
                                                        
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser" 
                            	style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 34px);"
                                data-popper-placement="bottom-end">
                                <li>
                                	<!-- Login via Google OAuth2 -->
		                            <a th:if="${#authentication.getPrincipal().getClass() == 
		                					T(org.springframework.security.oauth2.core.oidc.user.DefaultOidcUser)}" 
		            					class="dropdown-item" th:href="@{/profile}" id="dropdownUsername" aria-expanded="true">
		                					<span th:text="${#authentication.getPrincipal().getAttributes().given_name}"></span>
				                	</a>
				
				                	<!-- Login via Github OAuth2 -->
				                	<a th:if="${#authentication.getPrincipal().getClass() == 
				                			T(org.springframework.security.oauth2.core.user.DefaultOAuth2User)}" 
				            			class="dropdown-item" th:href="@{/profile}"	id="dropdownUsername" aria-expanded="true">
				                		<span th:text="${#authentication.getPrincipal().getAttributes().login}"></span>
				                	</a>			
		                			
		                			<!-- Login via email and password -->
					            	<a th:if="${#authentication.getPrincipal().getClass() == 
					            			T(org.springframework.security.core.userdetails.User)}" 
					        			class="dropdown-item" th:href="@{/profile}"	id="dropdownUsername" aria-expanded="true">
					            			<span th:text="${#authentication.getPrincipal().getUsername()}"></span>
					            	</a>
                                </li>
                                <li>
                                    <hr class="dropdwown-divider">
                                </li>
                                <li>
	                        		<a class="dropdown-item" th:text="#{navbar.changePassword}" 
	                        			th:href="@{/changePassword}">Cambia password</a>
	                    		</li>
                                <li>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            
	    	<!-- Bootstrap Bundle with Popper -->
			<script th:fragment="bootstrapJS" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
				integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
			</script>
        </div>
    </body>
</html>