<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base.html :: head(titolo=#{checkout.title})"></head>
    <body class="bg-color">
        <!-- START Navbar -->
        <nav th:replace="base.html :: navbar"></nav>
        <!-- END Navbar -->

        <div class="container container-color shadow-sm rounded-3" style="width: 60%;">
            <div class="py-5 text-center mt-3">
                <h2>Conferma acquisto</h2>
                <p class="lead">Compila questi campi per procedere all'acquisto</p>
            </div>
            <div class="row g-5 px-5 pb-4">
                <div class="col-md-5 col-lg-4 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-dark">Il tuo carrello</span>
                        <span class="badge bg-dark rounded-pill" th:text="${numBiglietti}"></span>
                    </h4>
                    <div class="list-group mb-3">
                        <div class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0" th:text="${biglietto.tipologia}"></h6>
                                <small class="text-muted" th:text="${biglietto.prezzo}+'€ (x'+${numBiglietti}+')'"></small>
                            </div>
                            <span class="text-muted" th:text="${biglietto.prezzo * numBiglietti}+'€'"></span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">Prevendita</h6>
                                <small class="text-muted" th:text="'2€ (x'+${numBiglietti}+')'"></small>
                            </div>
                            <span class="text-muted" th:text="${2 * numBiglietti}+'€'"></span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">Totale</h6>
                            </div>
                            <span class="text-muted" th:text="${(biglietto.prezzo + 2) * numBiglietti}+'€'"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">Indirizzo di fatturazione:</h4>
                    <p class="lead" th:text="${user.nome}+' '+${user.cognome}"></p>
                    <div th:unless="${user.indirizzo == null}" id="show-indirizzo" >
                        <span class="lead" th:text="${user.indirizzo.via}+', '+${user.indirizzo.numCivico}+', '+${user.indirizzo.cap}+', '+${user.indirizzo.citta}"></span>
                        <a class="btn btn-sm btn-yellow ms-3 shadow-sm" role="button" onclick="makeFormAppear()">Cambia indirizzo</a>
                    </div>
                    <form method="post" th:action="@{/logged/compra}" th:object="${indirizzo}">
                        <div id="form-indirizzo" th:attr="style=${user.indirizzo == null} ? 'display: block;' : 'display: none;'">
                            <label for="nome" class="form-label">Via</label>
                            <input type="text" class="form-control" th:field="*{via}" th:classappend="${#fields.hasErrors('via') ? 'is-invalid' : ''}"/>
                            <div class="invalid-feedback" style="display: block;" th:if="${#fields.hasErrors('via')}" th:errors="*{via}"></div>
                            <div class="row g-3 my-1">
                                <div class="col">
                                    <label for="numCivico" class="form-label">Numero civico</label>
                                    <input type="text" class="form-control" th:field="*{numCivico}" th:classappend="${#fields.hasErrors('numCivico') ? 'is-invalid' : ''}"/>
                                    <div class="invalid-feedback" style="display: block;" th:if="${#fields.hasErrors('numCivico')}" th:errors="*{numCivico}"></div>
                                </div>
                                <div class="col">
                                    <label for="cap" class="form-label">Cap</label>
                                    <input type="text" class="form-control" th:field="*{cap}" th:classappend="${#fields.hasErrors('cap') ? 'is-invalid' : ''}"/>
                                    <div class="invalid-feedback" style="display: block;" th:if="${#fields.hasErrors('cap')}" th:errors="*{cap}"></div>
                                </div>
                                <div class="col">
                                    <label for="citta" class="form-label">Citta</label>
                                    <input type="text" class="form-control" th:field="*{citta}" th:classappend="${#fields.hasErrors('citta') ? 'is-invalid' : ''}"/>
                                    <div class="invalid-feedback" style="display: block;" th:if="${#fields.hasErrors('citta')}" th:errors="*{citta}"></div>
                                </div>
                            </div>
                            <hr class="mt-4">
                            <div class="form-check">
                                <label class="form-check-label">Salva indirizzo per la prossima volta</label>
                                <input type="checkbox" class="form-check-input" name="salvaIndirizzo">
                            </div>
                            <div th:unless="${user.indirizzo == null}" class="text-stard pt-3">
                                <button class="btn btn-sm btn-yellow shadow-sm" onclick="makeFormDisappear()" type="button">Annulla cambia indirizzo</button>
                            </div>
                        </div>
                        <hr class="my-4">
                        <h4 class="mb-3">Pagamento</h4>
                        <div class="my-3">
                            <div class="form-check">
                                <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                                <label class="form-check-label" for="credit">Carta di credito</label>
                            </div>
                            <div class="form-check">
                                <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                                <label class="form-check-label" for="debit">Carta di debito</label>
                            </div>
                            <div class="form-check">
                                <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                                <label class="form-check-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="row gy-3">
                            <div class="col-md-6">
                                <label for="cc-name" class="form-label">Nome sulla carta</label>
                                <input type="text" class="form-control" id="cc-name" placeholder required>
                                <small class="text-muted">Nome completo sulla carta</small>
                                <div class="invalid-feedback">Il nome completo è un campo richiesto</div>
                            </div>
                            <div class="col-md-6">
                                <label for="cc-number" class="form-label">Numero della carta</label>
                                <input type="text" class="form-control" id="cc-number" placeholder required>
                                <div class="invalid-feedback">Il numero della carta è un campo richiesto</div>
                            </div>
                            <div class="col-md-3">
                                <label for="cc-expiration" class="form-label">Scadenza</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder required>
                                <div class="invalid-feedback">La scadenza è un campo richiesto</div>
                            </div>
                            <div class="col-md-3">
                                <label for="cc-cvv" class="form-label">CVV</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder required>
                                <div class="invalid-feedback">Il codice di sicurezza è un campo richiesto</div>
                            </div>
                        </div>
                        <hr class="my-4">

                        <!--Field nascosti per passare i biglietti al controller-->
                        <input hidden name="numBiglietti" th:value="${numBiglietti}">
                        <input hidden name="idBiglietto" th:value="${biglietto.id}">
                        <div class="text-stard pt-3"><button class="btn btn-purple w-100 btn-lg shadow-sm" type = "submit">Conferma</button></div>
                    </form>
                </div>
            </div>                   
        </div>

        <script>
            function makeFormAppear() {
                document.getElementById("form-indirizzo").style.display="block";
                document.getElementById("show-indirizzo").style.display="none";
            }

            function makeFormDisappear(){
                document.getElementById("form-indirizzo").style.display="none";
                document.getElementById("show-indirizzo").style.display="block";
            }
        </script>
    </body>
</html>