<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="base :: head(titolo='Concerto - LiveFinder')"></head>
	<body>
		<div th:replace="base :: navbar"></div>

        <div class="container">
            <h2>Inserisci nuovo concerto</h2>
            <form th:action="@{/admin/concerto}" method="post" th:object="${concerto}">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="tour">Inserisci un tour..</label>
                        <div class="list-group mx-0 w-auto overflow-auto has-validation" style="max-height: 200px;">
                            <label class="list-group-item d-flex gap-2" th:each="tour : ${listaTour}">
                                <input class="form-check-input flex-shrink-0" type="radio" th:value="${tour.id}" th:field="*{tour}" 
                                    th:classappend="${#fields.hasErrors('tour') ? 'is-invalid' : ''}">
                                <span>
                                    <div th:text="${tour.nome}"></div>
                                    <small class="d-block text-muted" th:text="${tour.artista.nome}"></small>
                                </span>
                            </label>
                        </div>
                        <div class="invalid-feedback" style="display: block;" th:if="${#fields.hasErrors('tour')}" th:errors="*{tour}"></div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="concerto-date">Inserisci la data</label>
                        <div class="input-group date">
                            <input type="datetime-local" placeholder="dd/mm/aaaa hh:mm" class="form-control" th:field="${concerto.data}" id="concerto-data"/>         
                        </div>
                    </div>
                    
                </div>
                <br>
                <div class="form-group col-md-4">
                    <label for="luogo">Seleziona un luogo...</label>
                    <div class="list-group mx-0 w-auto overflow-auto has-validation">
                        <div class="list-group mx-0 w-auto overflow-auto has-validation" style="max-height: 400px;">
                            <label class="list-group-item d-flex gap-2" th:each="luogo : ${luoghi}">
                                <input class="form-check-input flex-shrink-0" type="radio" th:value="${luogo.id}" th:field="*{luogo}" 
                                    th:classappend="${#fields.hasErrors('luogo') ? 'is-invalid' : ''}">
                            <span>
                                <div th:text="${luogo.nome}"></div>
                                <small class="d-block text-muted" th:text="${luogo.citta.nome}"></small>
                            </span>
                            </label>
                        </div>
                    </div>
                    <div class="invalid-feedback" style="display: block;" th:if="${#fields.hasErrors('luogo')}" th:errors="*{luogo}"></div>
                </div>
                

                <!--Field nascosco così durante l'aggiornamento non perdo l'id-->
				<input hidden type="text" th:field="*{id}"/>
                <div class="text-center"><button class="btn btn-primary" type = "submit">Conferma</button></div>
            </form>            
        </div>

    </body>
</html>