<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="base :: head(titolo='Concerto - LiveFinder')"></head>
	<body class="bg-color">
		<div th:replace="base :: navbar"></div>

		<div class="container container-color">
			<div class="p-4 p-md5 mb-4 rounded">
				<div class="col-md-6 px-0">
					<h4 class="display-5" th:text="${concerto.tour.nome}"></h4>
					<p class="lead" th:text="${concerto.tour.artista.nome}"></p>
					<p class="lead">
						<span th:text="${concerto.luogo.nome}"></span>
						<span> - </span>
						<strong th:text="${concerto.luogo.citta.nome}"></strong>
					</p> 
					<p class="lead" th:text="${#dates.dayOfWeekNameShort(concerto.data)}+' '+${#dates.day(concerto.data)}+' '+
                                                                        ${#dates.monthName(concerto.data)} + ' '+${#dates.year(concerto.data)}"></p>
					<p class="lead">
						<span th:text="${#dates.hour(concerto.data)}+' :'"></span>
						<!--Thymeleaf quando i minuti sono a una cifra li fa vedere ad una cifra soltanto. (&lt; sta per <)-->
						<span th:text="${#dates.minute(concerto.data) &lt; 10} ? '0'+${#dates.minute(concerto.data)} : ${#dates.minute(concerto.data)}"></span>
					</p>
				</div>

				<form th:action="@{/logged/checkout}" method="post">
					<div class="card p-3 shadow-sm">
						<div class="form-group col-md-6 mb-3">
							<label>Seleziona il numero di biglietti desiderati:</label>
							<input class="form-control w-25" type="number" name="numBiglietti" value="2"/>
						</div>
						<div class="form-group col-md-8">
							<div class="list-group">
								<label>Seleziona la tipologia di biglietto desiderata:</label>
								<label class="list-group-item d-flex gap-2" th:each="biglietto : ${concerto.biglietti}">
									<input class="form-check-input flex-shrink-0" type="radio" name="idBiglietto" th:value="${biglietto.id}">
									<span>
										<div th:text="${biglietto.tipologia}"></div>
										<small class="text-muted" th:text="${biglietto.prezzo}+'€'"></small>
									</span>
								</label>
							</div>
						</div>
						<div class="text-end mt-3"><button class="btn btn-dark" type = "submit">Compra</button></div>
					</div>
				</form>
			</div>
		</div>

    </body>
</html>