<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base.html :: head(titolo=#{index.title})">
</head>
<body class="navbar-color">
	<!-- START Navbar -->
	<nav th:replace="base.html :: navbar"></nav>
	<!-- END Navbar -->
  
	<div class="container text-center text-white pb-5 mt-3 rounded-3">
	
		<!-- ANONYMOUS -->
		<div sec:authorize="isAnonymous()">
			<p class="h1 p-3" th:text="#{index.anonymousWelcome}">Benvenuto in</p>
			<p class="logo-big-style" th:text="'LiveFinder '+#{index.anonymousWelcomeLogo}">LiveFinder</p>
			
			<div>
				<a th:href="@{/login}" th:text="#{index.login}" class="link-light">Accedi</a>
			</div>
			
			<div>
				<a th:href="@{/register}" th:text="#{index.register}" class="link-light">Registrati</a>
			</div>
		</div>
		<!-- END ANONYMOUS -->
	
		<!-- AUTHENTICATED -->
		<div sec:authorize="hasAuthority('DEFAULT')">
			<p class="logo-big-style p-3" th:text="'LiveFinder '+#{index.anonymousWelcomeLogo}">LiveFinder</p>
			<h1 th:text="#{index.welcome}">Benvenuto</h1>
			<!-- Login via Google OAuth2 -->
	        <h3 th:if="${#authentication.getPrincipal().getClass() == 
					T(org.springframework.security.oauth2.core.oidc.user.DefaultOidcUser)}"
				th:text="${#authentication.getPrincipal().getAttributes().given_name}">
	    	</h3>
	
	    	<!-- Login via Github OAuth2 -->
	    	<h3 th:if="${#authentication.getPrincipal().getClass() == 
	    			T(org.springframework.security.oauth2.core.user.DefaultOAuth2User)}"
	    		th:text="${#authentication.getPrincipal().getAttributes().login}">
	    	</h3>			
			
			<!-- Login via email and password -->
	    	<h3 th:if="${#authentication.getPrincipal().getClass() == 
	    			T(org.springframework.security.core.userdetails.User)}"
				th:text="${#authentication.getPrincipal().getUsername()}">
	    	</h3>
			
			<div class="pt-3">
				<a th:href="@{/users/artisti}" class="link-light">Tutti gli artisti</a>
			</div>
			
			<div>
				<a th:href="@{/users/listaTour}" class="link-light">Tutti i tour</a>
			</div>	
		</div>
		<!-- END AUTHENTICATED -->
		
		<!-- ADMIN -->
		<div sec:authorize="hasAuthority('ADMIN')">
			<p class="logo-big-style p-3" th:text="'LiveFinder '+#{index.anonymousWelcomeLogo}">LiveFinder</p>
			<div class="row">
				<div class="col-lg mb-4">
					<h1 th:text="#{index.welcome}">Benvenuto</h1>
					<!-- Login via Google OAuth2 -->
			        <h3 th:if="${#authentication.getPrincipal().getClass() == 
							T(org.springframework.security.oauth2.core.oidc.user.DefaultOidcUser)}"
						th:text="${#authentication.getPrincipal().getAttributes().given_name}">
			    	</h3>
			
			    	<!-- Login via Github OAuth2 -->
			    	<h3 th:if="${#authentication.getPrincipal().getClass() == 
			    			T(org.springframework.security.oauth2.core.user.DefaultOAuth2User)}"
			    		th:text="${#authentication.getPrincipal().getAttributes().login}">
			    	</h3>			
					
					<!-- Login via email and password -->
			    	<h3 th:if="${#authentication.getPrincipal().getClass() == 
			    			T(org.springframework.security.core.userdetails.User)}"
						th:text="${#authentication.getPrincipal().getUsername()}">
			    	</h3>
					
					<div class="mt-3">
						<a th:href="@{/users/artisti}" class="link-light">Tutti gli artisti</a>
					</div>
					
					<div class="mt-1">
						<a th:href="@{/users/listaTour}" class="link-light">Tutti i tour</a>
					</div>						
				</div>
				
				<div class="col-lg mb-4 mt-4">
					<h1 th:text="#{index.adminOperations}" class="link-light">Operazioni per Admin</h1>
					
					<div class="mt-2">
						<a th:href="@{/admin/artistaForm}" class="link-light">Aggiungi artista</a>
					</div>
					
					<div class="mt-1">
						<a th:href="@{/admin/tourForm}" class="link-light">Aggiungi un tour</a>
		      		</div>
		      
					<div class="mt-1">
						<a th:href="@{/admin/concertoForm}" class="link-light">Aggiungi un concerto</a>
		      		</div>
					
					<div class="mt-1">
						<a th:href="@{/admin/luogoForm}" class="link-light">Aggiungi un luogo</a>
					</div>
				</div>
			</div>			
		</div>
		<!-- END ADMIN -->	
		
	    </div>
	</div>
		
	</body>
</html>