<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="base :: head(titolo='Tour - LiveFinder')"></head>
    <body class="bg-color">
        <div th:replace="base :: navbar"></div>
    
        <div class="container bg-white">
            <div class="pt-3">
                <div th:replace="base :: page-title(titolo='Tutte le città', frase='Trova i concerti nella tua città!')"></div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-6 g-3 m-4">
                <div th:each="citta : ${listaCitta}">
                    <a class="link-purple" th:href="@{'/users/citta/'+${citta.id}}">
                        <p th:text="${citta.nome}"></p>
                    </a>
                </div>
            </div>
        </div>
    
    </body>
</html>