<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base.html :: head(titolo=#{login.title})">
</head>
<body>
	<!-- START Navbar -->
	<nav th:replace="base.html :: navbar"></nav>
	<!-- END Navbar -->

	<div class="container text-center mt-4">
		<div class="mb-4">
			<h1 th:text="#{login.login}">Login</h1>
		</div>
		<form th:action="@{/login}" method="POST">
			<!-- Email input -->
		    <div class="form-floating mb-4">
		     	<input name="username" type="email" id="loginEmail" class="form-control" th:placeholder="#{login.email}" 
		     		required autofocus />
		     	<label th:text="#{login.email}" for="loginEmail">Indirizzo Email</label>
		    </div>
		      
		    <!-- Password input -->
		    <div class="form-floating mb-4">
		     	<input name="password" type="password" id="loginPassword" class="form-control" 
		     		th:placeholder="#{login.password}"/>
		    	<label th:text="#{login.password}" for="loginPassword">Password</label>
		    </div>
		
			<!-- 2 column grid layout for inline styling -->
			<div class="row mb-4">
				<div class="col d-flex justify-content-center">
					<!-- Checkbox -->
				    <div class="form-check">
				    	<input type="checkbox" name="remember-me" class="form-check-input" id="rememberMe" />
				    	<label th:text="#{login.rememberMe}" class="form-check-label" for="rememberMe"> Ricordati di me </label>
		     		</div>
				</div>
		
				<div class="col">
					<a th:href="@{/resetPassword}" th:text="#{login.forgotPassword}">Password dimenticata?</a>
				</div>
			</div>
		
			<!-- Submit button -->
			<button th:text="#{login.login}" type="submit" class="btn btn-primary btn-block mb-4">Login</button>
		</form>
		
		<!-- Register buttons -->
	    <div class="text-center">
      		<span th:text="#{login.notRegistered}">Non sei iscritto?</span> 
      		<span><a th:text="#{login.register}" th:href="@{/register}">Registrati</a></span>
	     	<p th:text="#{login.alternativeLogin}">oppure entra con:</p>
     		<form class="d-inline" action="/oauth2/authorization/google" method="get">
	     		<button type="submit" class="btn btn-link btn-floating mx-1"> 
	        		<i class="bi bi-google"></i>
	      		</button>
     		</form>
     	
	     	<form class="d-inline" action="/oauth2/authorization/github" method="get">
	     		<button type="submit" class="btn btn-link btn-floating mx-1">
	        		<i class="bi bi-github"></i>
	      		</button>
	     	</form>
	  	</div>
		
	</div>

</body>
</html>