<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="base :: head(titolo='Luoghi - LiveFinder')"></head>
	<body>
		<div th:replace="base :: navbar"></div>
		<div class="container mt-4">
			<h4>Elenco luoghi:</h4>
			<ul>
				<li th:each="luogo : ${luoghi}">
				<span th:text="${luogo.nome} + ' ' + ${luogo.indirizzo} + ' ' + ${luogo.cap}" >Ippodromo delle capannelle Via Appia Nuova 00178</span>
					<a href="luogo.html" th:href="@{'/users/luogo' + '/' + ${luogo.id}}">Dettagli</a>
					<a sec:authorize="hasAuthority('ADMIN')" href="confermaDeleteLuogo.html" th:href="@{'/admin/confermaDeleteLuogo' + '/' + ${luogo.id}}">Cancella</a></li>
				</ul>
		</div>
	</body>
</html>