<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base.html :: head(titolo=#{index.title})">
</head>
<body class="bg-color">
	<!-- START Navbar -->
	<nav th:replace="base.html :: navbar"></nav>
	<!-- END Navbar -->

    <div class="container text-center container-color pb-5 shadow mt-3 rounded-3">
        <h1 class="p-3" th:text="__${#locale}__=='en'? ${messageEN} : ${messageIT}">Success!</h1>
    
     	<a class="btn btn-dark btn-block mb-4 mt-3" th:href="@{/login}" th:text="#{index.login}">Login</a>
    </div>    
</body>
</html>