<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base.html :: head(titolo=#{register.title})">
</head>
<body class="bg-color">
	<!-- START Navbar -->
	<nav th:replace="base.html :: navbar"></nav>
	<!-- END Navbar -->

	<div class="container text-center bg-white pb-3 shadow">
		<div class="mb-4 p-3">
		    <h1 th:text="#{register.registration}">Registrazione</h1>
		</div>
		<form th:action="@{/register}" method="POST">
			<div class="input-group mb-4">
				<span th:text="#{register.nameSurname}" class="input-group-text">First and last name</span>
				<input th:field="${user.nome}" type="text" aria-label="First name" th:placeholder="#{register.firstName}" 
			  		class="form-control" autofocus />
				<input th:field="${user.cognome}" type="text" aria-label="Last name" th:placeholder="#{register.lastName}" 
			  		class="form-control"/>
	      	</div>
		    
		    <!-- Email input -->
		    <div class="form-floating mb-4">
		    	<input th:field="${credentials.username}" type="email" id="signupEmail" class="form-control" 
		          th:placeholder="#{register.email}" required/>
		     	<label th:text="#{register.email}" for="signupEmail">Indirizzo Email</label>
		    </div>
		
		    <!-- Password input -->
		    <div class="form-floating mb-4">
		    	<input th:field="${credentials.password}" type="password" id="signupPassword" class="form-control" 
		          th:placeholder="#{register.password}" required />
		    	<label th:text="#{register.password}" for="signupPassword">Password</label>
		    </div>
		
		    <!-- Confirm password input -->
		    <div class="form-floating mb-4">
		    	<input th:field="${credentials.confirmPassword}" type="password" id="signupConfirmPassword" class="form-control" 
		    		th:placeholder="#{register.confirmPassword}" required />
		   		<label th:text="#{register.confirmPassword}" for="signupConfirmPassword">Conferma password</label>
		    </div>
			  
			<!-- Submit button -->
		    <button th:text="#{register.register}" type="submit" class="btn btn-purple shadow btn-block mb-4">Registrati</button>
      	</form>
      	
      	<!-- 2 column grid layout for inline styling -->
		<div class="row mb-4">
			<div class="col d-flex justify-content-center">
				<!-- OAuth2 -->
		      	<div class="text-center">
		        	<p th:text="#{register.enterWith}">Entra con:</p>   
		        	<form class="d-inline" action="/oauth2/authorization/google" method="get">
		     			<button type="submit" class="btn btn-link btn-floating mx-1"> 
		        			<i class="bi bi-google" style="color: black;"></i>
		      			</button>
					</form>
		
		     		<form class="d-inline" action="/oauth2/authorization/github" method="get">
		     			<button type="submit" class="btn btn-link btn-floating mx-1">
		        			<i class="bi bi-github" style="color: black;"></i>
		      			</button>
		     		</form>
		      	</div>
			</div>
	
			<div class="col">
				<a th:href="@{/adminRegister}" th:text="#{register.admin}" style="color: black;">Sono un admin</a>
			</div>
		</div>      	              
  	</div>
  
</body>
</html>
