<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{resetPassword.title})">
</head>
<body>
	<!-- START Navbar -->
	<nav th:replace="fragments/base.html :: navbar"></nav>
	<!-- END Navbar -->

    <div class="container text-center mt-4">
        <h1 th:text="#{resetPasswordSuccess.header}">Reset password effettuato con successo!</h1>
        
        <form class="d-inline mt-2" th:action="@{/login}" method="get">
     		<button type="submit" class="btn btn-primary btn-block mb-4" th:text="#{index.login}">
        		Login
      		</button>
     	</form>
    </div>    
    
    <!-- Bootstrap Bundle with Popper -->
    <script th:replace="fragments/base.html :: bootstrapJS" />
</body>
</html>