<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{resetPassword.title})">
</head>
<body>
	<!-- START Navbar -->
	<nav th:replace="fragments/base.html :: navbar"></nav>
	<!-- END Navbar -->

	<div class="container text-center mt-4">
        <div class="mb-4">
            <h1 th:text="#{resetPassword.header}">Fai un reset della password qui</h1>
        </div>
        <form th:action="@{/resetPassword}" method="POST">
            <!-- Email input -->
            <div class="form-floating mb-4">
                <input type="email" id="signupEmail" class="form-control" th:placeholder="#{register.email}"
                	th:field="${credentials.username}" required/>
                <label th:text="#{register.email}" for="signupEmail">Indirizzo Email</label>
              </div>
            
	        <!-- Password input -->
	        <div class="form-floating mb-4">
	        	<input type="password" id="signupPassword" class="form-control" th:placeholder="#{register.password}"
	            	th:field="${credentials.password}" required />
	        	<label th:text="#{resetPassword.password}" for="signupPassword">Nuova Password</label>
	        </div>

            <!-- Confirm password input -->
            <div class="form-floating mb-4">
            	<input th:field="${credentials.confirmPassword}" type="password" id="signupConfirmPassword" class="form-control" 
					th:placeholder="#{register.confirmPassword}" required />
                <label th:text="#{register.confirmPassword}" for="signupConfirmPassword">Conferma password</label>
            </div>
            
            <!-- Submit button -->
            <button th:text="#{resetPassword.reset}" type="submit" class="btn btn-primary btn-block mb-4">Reset Password</button>
        </form>
                               
    </div>
    
    <!-- Bootstrap Bundle with Popper -->
	<script th:replace="fragments/base.html :: bootstrapJS" />
</body>
</html>
