<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base.html :: head(titolo=#{userProfile.title})">
</head>
<body>
	<!-- START Navbar -->
	<nav th:replace="base.html :: navbar"></nav>
	<!-- END Navbar -->

    <div class="container text-center mt-4">
        <h1 th:text="#{userProfile.header}">Your profile</h1>
		
		<div class="card mt-4 mb-4">
			<div class="card-body">
				<h2 class="text-center mt-2" th:text="${name}">Name and Surname</h2>
		
				<div class="text-start mt-4">
					<!-- USERNAME -->
					<div>
						<span class="h4">Username: </span>
						<span class="h5 fw-normal" th:text="${username}"></span>
						<span th:if="${canChange == true}" class="ms-1">
							<a th:href="@{/changeUsername}">
								<i class="bi bi-pencil"></i>
							</a>
						</span>
					</div>
					
					<!-- INDIRIZZO -->
					<div th:if="${indirizzo}" class="mt-2">
						<div>
							<span class="h4" th:text="#{userProfile.address}">Address</span>
							<span class="ms-1">
								<a th:href="@{/addAddress}">
									<i class="bi bi-pencil"></i>
								</a>
							</span>	
						</div>
						
						<div class="ms-2 mt-1">
							<div>
								<span class="h5" th:text"#{userProfile.address.street}">Via: </span>	
								<span class="h5 fw-normal" th:text="${indirizzo.via}">Via del corso</span>	
							</div>
							
							<div>
								<span class="h5" th:text"#{userProfile.address.number}">Numero civico: </span>	
								<span class="h5 fw-normal" th:text="${indirizzo.numCivico}">181</span>
							</div>
							
							<div>
								<span class="h5" th:text"#{userProfile.address.cap}">CAP: </span>	
								<span class="h5 fw-normal" th:text="${indirizzo.cap}">00131</span>
							</div>							
							
							<div>
								<span class="h5" th:text"#{userProfile.address.city}">Città: </span>	
								<span class="h5 fw-normal" th:text="${indirizzo.citta}">Roma</span>
							</div>							
							
						</div>				
					</div>
					
					<!-- BOTTONE AGGIUNGI INDIRIZZO -->
					<div th:unless="${indirizzo}" class="mt-4">
						<button class="btn btn-primary" onclick='window.location.href="/addAddress"'
	                		th:text="#{userProfile.addAddress}">Add address</button>
					</div>
					
					<!-- BOTTONE CAMBIA PASSWORD -->
					<button class="btn btn-primary mt-4" onclick='window.location.href="/changePassword"'
                    	th:text="#{changePassword.change}">Change password</button>
				</div>		
			</div>						
		</div>    	     	
    </div>    
</body>
</html>